body {
    background-color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
}
.Opener {
	text-align: left;
}
.About-Me {
	text-align: center;
	border-color: white;
}
div {
	border-color: white;
	border-style: solid;
	border-width: 1px;
}

.Sub-Text {
	border-color: black;
	padding: 10px;
	text-align: left;
}
.row {
    text-align: center;
    color: white;
}
html {
	background-image: url(MostlyGoth.png);
	background-size: 1000px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20px;
}
.image {
       background-color: black;
}
.thumbnail {
	background-image: url(BestoftheBeast.png);
	background-size: 500px;
	height: 300px;
	border-width: 0px;
}
.col-xs-4 {
	float: left;
	margin-left: 10%;
}
.thumbnail2 {
	background-image: url(AmericanPsycho.png);
	border-width: 0px;
	background-size: 500px;
	height: 300px;
}
.modal-content {
	color: white;
	background-color:  black;
}
.Enter-Sandman {
	margin-left: 10%;
}